/* CSS declarations go here */

body {
	background-color: #000;
	color: #EEE;
	font-family: ubuntu, sans-serif;
}

.serviceStateOK {
	color: #0A0;
}

.service {
	background-color: #222;
}

ul.services {
	display: inline-block;
}

.services li {
	display: inline-block;
	text-transform: uppercase;
}